<!-- Footer -->
<p class="clearfix mb-0">
    <span class="float-md-left d-block d-md-inline-block mt-25">
    COPYRIGHT &copy; {{ year }}
    Compliances And Onboarding
    <span class="d-none d-sm-inline-block">, All rights Reserved</span>
    </span>
</p>
<!--/ Footer -->

<!-- Move to top Button-->
<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>
<ngx-spinner bdColor="rgba(153, 156, 153, 0.911)" size="default" type="ball-clip-rotate" color="rgb(17, 224, 79)">
    <p style="color: rgb(17, 224, 79)">Loading... </p>
</ngx-spinner>